/**
 * partials/modules
 * ---
 */

 /*------------------------------------*\
  #PACE PRELOADER
\*------------------------------------*/

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #29d;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}

 /*------------------------------------*\
  #POPUPS
\*------------------------------------*/

.popup-mask{
  @include mask-site;
  display:none;
}

.popup-container{ //style this
  @include vertical-align(fixed);
  background:white;
  width:50%;
  max-width: 500px;
  height:auto;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 20px;
  z-index:100;
  display:none;

  > .close{
    width:15px;
    height:15px;
    background: red;
    position:absolute;
    right:0;
    top:0;
    cursor: pointer;
  }
}

.popup{
  display:none;
}


 /*------------------------------------*\
  #ACCORDION
\*------------------------------------*/

 /*------------------------------------*\
  #PAGINATION
\*------------------------------------*/

 /*------------------------------------*\
  #SIDEBAR NAVIGATION

\*------------------------------------*/

.mainwrap {
  position: relative;
  overflow-x: hidden;
}

.sidebar-wrap {
  z-index: 100;
  width: 0;
  height: 100%;
  position: absolute;
  background-color: black;
  top: 0;
  right: 0px;
  color: white;
  transition: width 500ms ease;
  &:hover {
    @include breakpoint(min-width 700px) {
      width: 273px;      
    }
  }
  &:before {
    position: absolute;
    top: 0;
    left: -44px;
    content: '';
    width: 44px;
    height: 100%;
    background-color: transparentize(gray, 0.3);
  }
}

.sidebar {
  width: 273px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  .sidenav-logo {
    width: 30px;
  }
}

  .side-nav {
    position: relative;
    padding: 10px;
    color: white;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    &:hover {
      text-decoration: none;
      > .indicator {
        > .bar {
          @include breakpoint(min-width 700px) {
            background-color: black;
            width: 100%;
            position: absolute;              
          }
        }        
      }
    }
    &.active {
      text-decoration: none;
      > .indicator {
        > .bar {
          background-color: black;
          width: 100%;
          position: absolute;        
        }        
      }
    }
    > .indicator {
        position: absolute;
        left: -44px;
        top: 50%;
        transform: translateY(-50%);
        > .tag {
          width: 44px;
          height: 44px;
          line-height: 44px;
          text-align: center;
        }
        > .bar {
          transition: width 300ms ease;
          background-color: black;
          width: 0%;
          height: 100%;
          position: absolute;
          top: 0;
          right: 0;
          z-index: -1;      
        }
      }
  }

 /*------------------------------------*\
  #SECTION
\*------------------------------------*/
.section {
  height: 100vh;
  width: 100%;
  color: white;
  text-align: center;
  vertical-align: middle;
  line-height: 100vh;
  font-size: 50px;
  font-weight: bold;
  display: none;
  &:nth-child(1) {
    display: block;
    background-color: gray;
    animation: fadeInDown 300ms linear;
  }
  &:nth-child(2) {
    background-color: red;
    animation: fadeInUp 300ms linear;
  }
  &:nth-child(3) {
    background-color: orange;
  }
  &:nth-child(4) {
    background-color: yellow;
  }
  &:nth-child(5) {
    background-color: green;
  }
  &:nth-child(6) {
    background-color: blue;
  }
  &:nth-child(7) {
    background-color: indigo;
  }
  &:nth-child(8) {
    background-color: violet;
  }
}

.content {
  height: 100vh;
  overflow: hidden;
}

@-webkit-keyframes fadeInDown { 
    0% { 
        opacity: 0; 
        -webkit-transform: translateY(-400px); 
    } 
    50%{
       opacity: 0.3; 
    }
    100% { 
        opacity: 1; 
        -webkit-transform: translateY(0); 
    } 
} 
@keyframes fadeInDown { 
    0% { 
        opacity: 0; 
        transform: translateY(-400px); 
    } 
    50%{
       opacity: 0.3; 
    }
    100% { 
        opacity: 1; 
        transform: translateY(0); 
    } 
} 
.fadeInDown{ 
    opacity: 0; 
    -webkit-transform: translateY(-400px); 
    transform: translateY(-400px);
}




@-webkit-keyframes fadeInUp { 
    0% { 
        opacity: 0; 
        -webkit-transform: translateY(400px); 
    } 
    50%{
       opacity: 0.3; 
    }
    100% { 
        opacity: 1; 
        -webkit-transform: translateY(0); 
    } 
} 
@keyframes fadeInUp { 
    0% { 
        opacity: 0; 
        transform: translateY(400px); 
    } 
    50%{
       opacity: 0.3; 
    }
    100% { 
        opacity: 1; 
        transform: translateY(0); 
    } 
} 
.fadeInUp{ 
    opacity: 0; 
    -webkit-transform: translateY(400px); 
    transform: translateY(400px);
}
.fadeInUp.go { 
    -webkit-animation-name: fadeInUp; 
    animation-name: fadeInUp; 
}